[2020-11-12 21:35] Nosudrum opened #4 "TypeError when running the environment setup part of a simulation like in the documentation"
I am trying to run a simulation like the one [shown in the documentation](https://tudat-space.readthedocs.io/en/latest/_src_first_steps/simulations/example_application_2.html) and I get the following error :
[code]

Could you please let me know what I should change in the environment setup code to make it work ?

Thanks,

Arnaud Muller

[2020-11-16 15:42] transferorbit commented on #4
Which version of `TudatPy` are you using? This might be fixed in `0.5.21`. I won’t close this issue though until you confirm the latest version fixes the issue.

Installing or updating to a new version should be as straightforward as `conda install tudatpy=0.5.21` or `conda update tudatpy=0.5.21`

[2020-11-16 16:03] Nosudrum commented on #4
I am not sure which version I was using, but it's definitely fixed after using `conda install tudatpy=0.5.21`.

Thanks for the help !

[2020-11-16 16:10] transferorbit commented on #4
Good to hear — thanks for the feedback!

[2020-11-16 16:10] #4 closed

[2021-04-16 08:36] ggarrett13 opened #13 "Developer documentation"
Currently finishing off a developer specific documentation with the following topics:

[code]

Currently aiming for a deadline: 1st of May.

[2021-04-28 18:04] ggarrett13 commented on #13
This is now being managed in https://github.com/orgs/tudat-team/projects/6

[2021-04-28 18:04] #13 closed

[2021-10-14 12:12] FilippoOggionni opened #17 "Adding webpages to tudat-space (from legacy content)"
There were a number of pages on tudat-space which were only in the "idea" phase, i.e., they only had a title. For now, I removed them, because they did not look good, but I will note them down here so we can keep track of them. Please let me know which one you would like to see on the tudat-space at some point in the future and which one can be discarded.

- [ ] Contributing to tudat-space (I thin

[2021-10-21 10:59] FilippoOggionni opened #19 "Make list of available acceleration models more essential"
Connect the list of available acceleration models available [here](https://tudat-space.readthedocs.io/en/latest/_src_user_guide/propagation_setup/acceleration_models/setup.html) to the API and make it more essential.

[2021-10-21 14:18] FilippoOggionni commented on #19
Just to add, the code snippets, which were appreciated by the students, will be moved from such webpage to the API, under each function's "Example" section. The API system is already equipped with that possibility, so we just need to add them to the yaml files. @jo11he and I already tested this and we can confirm it works.

[2021-10-24 17:38] FilippoOggionni opened #20 "Make list of available environment models more essential"
Take inspiration from #19.

[2021-10-24 17:43] FilippoOggionni opened #21 "Restructure and revise "home" + "about" pages"
The pages to be revised are:

- [home](https://tudat-space.readthedocs.io/en/latest/index.html)
- [about](https://tudat-space.readthedocs.io/en/latest/_src_about/about.html)

[2021-10-24 17:48] FilippoOggionni opened #22 "Reorganize user guide"
Tasks (to be divided among @jo11he and @FilippoOggionni):

- [x] Reorganize general and pygmo examples
- [ ] Proof-read, and modify (if you’re confident) or suggest modifications:

   - https://tudat-space.readthedocs.io/en/latest/_src_user_guide/environment_setup/use_of_reference_frames.html
   - https://tudat-space.readthedocs.io/en/latest/_src_user_guide/environment_setup/create_bodies/default_

[2021-10-25 15:10] FilippoOggionni opened #24 "Solve TODOs in list of available accelerations"
There are a few (low-priority) TODO points in the list of available acceleration models on tudat-space ([link](https://tudat-space.readthedocs.io/en/latest/_src_user_guide/propagation_setup/acceleration_models/available.html)). These were relayed from #19.

In addition to those, there are a few accelerations present in the API but not in tudat-space:

- custom
- momentum_wheel_desaturation_acceler

[2021-10-31 16:49] jo11he commented on #20
Comments on this matter:

o      using intersphinx for linking to api vs hyperlink
        + intersphinx is more elegant
        -  intersphinx link not obvious
o     format of dependency (note environment --> needs new info environment)
o     (temporary) loss of info for c++ users

[2021-10-31 16:55] jo11he commented on #20
missing in User guide
      ephemeris
                        direct spice
                        scaled (1,2,3) is documented as overload
      gravity
                        x
      atmosphere
                          constant wind
                          exponential predefined (overload of exponential?)
                          custom_four_dimensional_constant_temperature

[2021-10-31 17:20] jo11he commented on #20
missing in tudatpy API

- ephemeris

1.                           x

-    gravity

1.                         x

-    atmosphere

1.                           tabulated

-   shape

1.                         x

-    rotation

1.                          x

-    atmosphere

1.                         tabulated
2.                         local inclination methods

-    radiation pressure

1.

[2021-10-31 17:21] jo11he commented on #20
Name mismatch:

Approximate Planet Ephemeris || approximate_jpl_model

[2021-10-31 22:55] jo11he commented on #20
@DominicDirkx @FilippoOggionni
I moved all info from User Guide to API reference. User guide still needs to be modified, I have a few ideas, which I will put up for discussion in slack tomorrow.
Else, in order to complete this task, I need a bit of input from @DominicDirkx on some details, for which I already posted in private slack conversation.

[2021-11-01 10:24] DominicDirkx commented on #20
Thanks! I see the tudatpy API website has already been update. I looks really nice! Concerning the points you list above on stuff missing in the user guide, I think this we can resolve during the upcoming update of the user guide. For the points missing in the API, what does:

`tabulated (does not seem to have FF in tudat source --> delete from tudat-space )
`
mean?

The tabulated aerodynamics sho

[2021-11-01 13:19] jo11he commented on #20
The point about missing factory function  is referring to tabulated under atmosphere, not aerodynamic.

The TabulatedAtmosphereModel ([source](https://github.com/tudat-team/tudat/blob/fa30c49dca7ee27630717efb8546802589a4c8b7/include/tudat/simulation/environment_setup/createAtmosphereModel.h#L492)) does not seem to have a factory function interface and is therefore excluded from tudatpy and the API

[2021-11-02 10:21] DominicDirkx commented on #24
Points have been resolved in API and user guide

[2021-11-04 16:25] jo11he commented on #20
Implemented all the discussed points, is now very essential! Also adopted a normal tree structure w/o abusing rst's  ::class labels for the captions.
Changes are pushed to Filippo's user-guide-restyling branch.

Commit: https://github.com/tudat-team/tudat-space/commit/c1a3cd8f9b6514f03b230c61f5763383afe22c5f

[2021-11-04 16:25] #20 closed

[2021-11-04 18:24] DominicDirkx commented on #20
Awesome! You can go ahead and merge this into the master

[2021-11-05 07:53] DominicDirkx opened #25 "Merge conflict in state propagation"
Hi guys, when merging the docs from this issue:

https://github.com/tudat-team/tudat-space/issues/20

A small merge conflict arose, which I resolved, but I'm not sure if all the changes have been processed properly. The problem is with the changes made here:

https://github.com/tudat-team/tudat-space/commit/3d679004e254d97584f9e98d21c56e9ed960f74e#diff-ab2d4a6604a3c0bfdc605a4007faeba6cbdfbb4fb82bc

[2021-11-05 07:55] DominicDirkx commented on #20
Merged! It seems that we're now pretty much done with a big milestone inour documentation. Many thanks to all who worked in it :)

[2021-11-05 07:57] DominicDirkx commented on #20
https://tudat-space.readthedocs.io/en/latest/_src_user_guide/environment_setup/create_models/available.html#scaled-ephemeris
https://tudat-space.readthedocs.io/en/latest/_src_user_guide/environment_setup/create_models/available.html#scaled-ephemeris

Nice touch :)

[2021-11-05 11:20] FilippoOggionni commented on #24
New tasks (I assigned myself):
- [ ] change regular links to intersphinx links
- [ ] revise page structure as agreed upon
- [ ] change "API" to "API documentation" (also elsewhere)

[2021-11-05 11:23] FilippoOggionni commented on #20
@jo11he from the tasks we agreed on yesterday, I also noted to leave `.. todo::` items in the list of environment models wherever there was an entry in the API not yet documented in the user guide (or vice-versa). Can you confirm this was done?

[2021-11-05 11:43] FilippoOggionni commented on #20
Also, I would propose to turn the subsections (e.g., direct spice ephemeris, interpolated spice ephemeris, etc...) into simple, bold lines, because it looks a bit funny with only one line for each subsection. Also, it would make the page more compact and it would shorten the table of contents at the beginning of the page. On the other hand, specific types of environment models will not be "linkabl

[2021-11-05 11:46] FilippoOggionni opened #26 "Proof-read single-arc propagation page"
Proofread [this](https://tudat-space.readthedocs.io/en/latest/_src_user_guide/running_simulation/single_arc.html) page.

(please check when done)
- [x] @jo11he
- [x] @FilippoOggionni

[2021-11-05 12:04] DominicDirkx commented on #20
I like the idea, below a screenshot of what it would look like:

![image](https://user-images.githubusercontent.com/5039068/140507695-b7a9e039-9114-404d-9354-d287b142d183.png)

[2021-11-05 12:10] FilippoOggionni commented on #20
Nice! I would only insert a line break between the bold title and the description

[2021-11-05 12:16] DominicDirkx commented on #20
![image](https://user-images.githubusercontent.com/5039068/140508618-34aef332-4cda-4da6-b382-f1a1df7e7a76.png)
![image](https://user-images.githubusercontent.com/5039068/140508824-6e6c57c3-d75e-4046-807d-afef068aa07e.png)

My preference goes to the second one, to make it more clear which title belongs to what

[2021-11-05 12:21] FilippoOggionni commented on #20
I agree with the second option as well 👍

On Fri, 5 Nov 2021, 13:16 DominicDirkx ***@***.***> wrote:

[2021-11-05 12:27] DominicDirkx commented on #20
Done and pushed

[2021-11-05 13:10] FilippoOggionni commented on #25
Note: intersphinx links to classes are working, but the same for class _attributes_ are not working. Any idea why? @DominicDirkx @ggarrett13 @jo11he

[2021-11-05 13:12] DominicDirkx commented on #25
Can you show an example?

[2021-11-05 13:14] FilippoOggionni commented on #25
I was reading [this](https://tudat-space.readthedocs.io/en/latest/_src_user_guide/running_simulation/single_arc.html) page, see for instance the (black, not red) `SingleArcSimulator` and  `state_history`

[2021-11-05 13:24] FilippoOggionni commented on #25
I checked out the available cross-referencing keys for python (see [here](https://www.sphinx-doc.org/en/1.5.1/domains.html#cross-referencing-python-objects)) and I have tried with:

- `:func:`
- `:class:`
- `:meth:`

but neither of them works 👎

[2021-11-05 13:30] DominicDirkx commented on #25
Querying the full list of labels on the tudatpy API:

python -msphinx.ext.intersphinx https://tudatpy.readthedocs.io/en/latest/objects.inv

shows these elemens as py:property. I don't see a reference to this type of item anywhere, is it something of our own invention (@ggarrett13 ?)

[2021-11-05 13:35] FilippoOggionni commented on #25
Also `:property:` does not work (as expected). Could you post a link to the line
`python -msphinx.ext.intersphinx https://tudatpy.readthedocs.io/en/latest/objects.inv`?

[2021-11-05 13:50] FilippoOggionni commented on #26
I reviewed the page (see [this](https://github.com/tudat-team/tudat-space/commit/db6033f394f60d902e1460e6c975b55c354ddb20) commit on the `single-arc-propagator-review` branch), waiting for @jo11he to provide his modifications on the same branch, then I will open a pull request and link it here, so that @DominicDirkx can merge and close the issue.

[2021-11-05 13:56] FilippoOggionni commented on #25
Perhaps we should open another issue...

Coming back to the original issue, I think @jo11he is the right person to answer your question, because I have never committed any changes to the two pages you linked. If that's okay, I will leave it to him 😄

[2021-11-05 14:02] DominicDirkx commented on #25
For the issue with linking py:property: please do.

The line:
`python -msphinx.ext.intersphinx https://tudatpy.readthedocs.io/en/latest/objects.inv`
is a terminal command: it provides the full list of available labels

[2021-11-05 14:08] jo11he commented on #25
I don't really see the need to intersphinx link the properties/attributes  - they are usually mentioned in the context of the linked class that they belong to. I won't dig into this. Will resolve the merge conflict and then move on.

[2021-11-05 14:16] DominicDirkx opened #27 "Intersphinx linking to properties not working"
As discussed in the first couple of posts in #25:
https://github.com/tudat-team/tudat-space/issues/25#issuecomment-961882837
we currently have no way of using intersphinx to use links to the tudatpy API docs for class properties. This should be resolved to allow full linking between tudat-space and API docs. Since properties are usually mentioned in the context of the linked class that they belong

[2021-11-05 14:17] DominicDirkx commented on #25
No problem, I've opened a separate, lower priority issue (#27). Once you have a look at the specific point this post started with, this issue can be closed.

[2021-11-05 14:19] FilippoOggionni commented on #25
Nice trick!
Thanks for opening a separate issue.

[2021-11-05 14:38] jo11he commented on #26
Sorry Filippo, I made my modifications to master already. Did not expect we need an extra branch for reviewing one page.

[2021-11-05 14:38] #25 closed

[2021-11-05 15:16] jo11he opened #28 "Establish correct lingo for "API documentation""
While internally we often refer to the API Documentation simply as "API", we should ensure that on tudat-space and all other non-private platforms we use correct terminology.

Valid options:
- API Documentation (*)
- API Docs
- API Reference

(*) preferred

TODOs:

- [x]  Reminder message to all contributors to tudat-space
- [x] Go over all pages referencing the API Documentation and ensure correc

[2021-11-05 15:18] jo11he commented on #28
@FilippoOggionni I think concerning point 1 we only need to go over our list of models (I suggest each their own), @DominicDirkx are there any additional pages referring to the API Documentations that you are aware of? If yes, please mention and I will take care of it.

[2021-11-05 15:29] jo11he opened #29 "Extra page on Tabulated Atmosphere documentation"
Write documentation for use of Tabulated Atmosphere Settings, had a dedicated (but empty) page dedicated to it on tudat-space, linked from tabulated atmosphere model entry in list of all environment models.

Note: This page is currently not accessible, because Tabulated Atmosphere Settings are not exposed to tudatpy yet and thus the tabulated atmosphere model entry has been temporarily removed fro

[2021-11-05 15:48] DominicDirkx commented on #26
Does this mean that the issue is resolved, or do the two branches need to be merged?

[2021-11-05 15:52] jo11he opened #30 "Find solution for "stashed" content from tudat-space environment/acceleration model lists"
I had to stash a few (groups of) entries from the tudat-space environment model list, such that the entries perfectly mirror the environment submodules on the API Documentation.

- [x] Gravity Field Variation Models  (exposed, not documented),  [related issue ](https://github.com/tudat-team/tudat-multidoc/issues/9)
- [x] Inertia Tensors (not exposed, not documented)
- [ ] Tabulated atmosphere (not

[2021-11-05 15:54] jo11he commented on #30
@FilippoOggionni if you stashed any entries/ info for your acceleration model list, please list in bullet points here :)

[2021-11-05 16:02] DominicDirkx commented on #28
My vote goes to: API Documentation

There may be a link on the NA Brightspace page. The main point is updating this on tudat-space. A search all for the term 'API' should do it (?). I did a quick search and replace on a bunch of them (not yet all), and pushed to master. I was having a look, tested to see how easy it was, and decided I might as well push them.

[2021-11-05 16:10] DominicDirkx commented on #28
As a last small point, I modified the remaining entries in tudat-space to sat API documentation (there were one or two where it was, and should be, just API).

[2021-11-05 16:11] FilippoOggionni commented on #28
I think we all agree on API Documentation 👍

I am already replacing it for the list of available acceleration models. @jo11he, if you take care to check the list of available environment models and @DominicDirkx already replaced the rest, I think we are good to go.

[2021-11-05 16:13] DominicDirkx commented on #28
I think I already took care of all of tudat-space...

[2021-11-05 16:20] FilippoOggionni commented on #26
My modifications are in the branch, so I will open a pull request.

In general, I would recommend working on branches different from master. This does not mean that each feature needs its own branch (although possible and to some point desirable), but each issue should clearly state which branch we are working on to make sure that we are all working on the same branch.

Another example: for the li

[2021-11-05 16:22] DominicDirkx commented on #21
This is, at least partly, done right?

[2021-11-05 16:29] FilippoOggionni commented on #21
Well, the content was split into two pages and I believe @jo11he made slight modifications to the homepage, but there is more to be done.

In any case, I think it is not high-priority, especially not for Numerical Astrodynamics.

[2021-11-05 16:34] DominicDirkx commented on #21
Agreed :)

[2021-11-05 16:48] DominicDirkx opened #31 "User guide - frame transformations"
There are various frame transformations (e.g. rotation matrices and definitions of associated frames), in various places in Tudat. The basic functionality is mostly in:

- tudat.astro.frame_transformations
- tudat.interface.spice
- tudat.interface.sofa (to be created/exposed)

In addition, there are various places inside the environment where frame transformations play a crucial role:

- (Atmosphe

[2021-11-05 16:49] DominicDirkx opened #32 "User guide - use of thrust"
The pages from the old website (http://tudat.tudelft.nl/tutorials/tudatFeatures/accelerationSetup/thrustModels.html) on the use of thrust need to be thoroughly updated and moved to the new website, with a change to Python, of course. Luckily, quite a lot of info from the old website is now/will go into the API, making this page a lot cleaner. Points that need to be highlighted:

- Two approaches:

[2021-11-05 16:58] FilippoOggionni commented on #28
Both tasks completed, notification was sent to tudat-space contributors via Slack.

[2021-11-05 16:58] #28 closed

[2021-11-05 17:07] FilippoOggionni commented on #24
Changes on the `user-guide-restyling` branch were merged onto `master` locally by @DominicDirkx.

The `user-guide-restyling` branch will be deleted to avoid future merge conflicts.

[2021-11-05 17:07] #24 closed

[2021-11-05 17:16] FilippoOggionni commented on #27
The same problem happens for modules. I tried with :mod: but it does not work.

[2021-11-05 17:19] FilippoOggionni commented on #26
@DominicDirkx I opened a pull request (linked above). Please let me know if you or I should merge it

[2021-11-05 19:23] DominicDirkx commented on #27
That's weird, I hadn't tried that yet. If we don't manage to resolve this soon-ish, we could put in direct URL links, pending the resolution of this issue, as a temporary working solution

[2021-11-05 19:42] #26 closed

[2021-11-05 19:43] DominicDirkx commented on #26
Thanks, I've merged them, with a few small modifications. The biggest change is that I modified the big warning box to a new section. If you think this was a bad call, feel free to reopen this issue to let me know :)

[2021-11-05 19:57] DominicDirkx opened #34 "Move propagator types into API docs"
Right now, a (very brief) definition of the propagator types:

https://tudat-space.readthedocs.io/en/latest/_src_user_guide/propagation_setup/dynamics_types/translational.html#translational-dynamics-propagators

is provided in the user guide (same for rotational dynamics). These should be moved to the definition of the associated enums in the API. This documentation should include:
* Size of state

[2021-11-05 20:14] DominicDirkx opened #35 "User guide - aerodynamic guidance"
The pages from the old website (http://tudat.tudelft.nl/tutorials/tudatFeatures/accelerationSetup/aerodynamicGuidance.html) on aerodynamic guidance need to be thoroughly updated and moved to the new website, with a change to Python, of course. Some the of info from the old website is now/will go into the API, making this page somewhat cleaner.

Points that need to be highlighted:
* Defining body a

[2021-11-06 09:02] FilippoOggionni commented on #26
Looks great! Let's leave it as you made it.
Yeah, I do like all kind of sphinx-generated boxes and sometimes I tend to abuse of them a bit... 😆

[2021-11-06 09:13] FilippoOggionni commented on #27
I agree. Let's see if we can get @ggarrett13's view on it in the next few days, otherwise I agree on temporarily switching to regular URL links for now

[2021-11-06 09:16] FilippoOggionni commented on #24
The `user-guide-restyling` branch was deleted as agreed on.

[2021-11-06 18:50] FilippoOggionni commented on #22
Update on this: see pull request #36.

[2021-11-06 19:55] DominicDirkx opened #37 "Remove detailed page on integrator settings; refer to API"
Unlike acc./env. settings, the integrator settings page is still written in the 'old' style, This page can be very much shortened, with references to the API, and perhaps some discussion on (dis)advantages of various integrators.

[2021-11-07 21:35] FilippoOggionni commented on #22
Issue reopened because some tasks are not completed.

[2021-11-08 10:24] FilippoOggionni opened #38 "Add troubleshooting section for recurring errors under "Getting Started""
I think we could create a troubleshooting page on the tudat-space listing the most common errors encountered by (new) users. A lot of inspiration could be taken from the Brightspace Installation forum of Numerical Astrodynamics. From what we see there and from our own experience, lots of issues come up while:

- creating the environment
- updating tudatpy

Recurring issues include:

- the DLL kern

[2021-11-08 13:14] DominicDirkx commented on #37
I'm using this branch:

https://github.com/tudat-team/tudat-space/tree/feature/integrator_settings

to resolve this issue. I intend to add -brief- mentions of (dis)advantages of different integrators.

[2021-11-08 15:23] DominicDirkx commented on #37
I've pushed a first iteration to the above branch. Modifications are limited to this file:

https://github.com/tudat-team/tudat-space/blob/feature/integrator_settings/docs/source/_src_user_guide/state_propagation/numerical_modeling.rst

which now constitutes the entirety of the integrator discussion in the user guide.

If someone could review this (@jo11he or @FilippoOggionni  from a setup point o

[2021-11-08 18:58] #37 closed

[2021-11-08 19:00] DominicDirkx commented on #37
I've merged the pull request, with additional input from @FilippoOggionni. @transferorbit, if you could give this page a review, that'd be great.

[2021-11-08 19:02] DominicDirkx opened #40 "Add mathematical details of step-size control to integrator setup"
Update this page:

https://tudat-space.readthedocs.io/en/latest/_src_user_guide/state_propagation/numerical_modeling.html

[2021-11-08 19:45] DominicDirkx opened #41 "Bibliography on tudat-space"
Discussion started here:

https://github.com/tudat-team/tudat-space/pull/39

on the best practice concerning bibliography on tudat-space. There probably should be a bibliography, but format is TBD

[2021-11-08 19:59] DominicDirkx commented on #34
First iteration of this is done:

https://github.com/tudat-team/tudat-multidoc/pull/11
https://github.com/tudat-team/tudat-space/pull/42

Current version does not include a full mathematical definition, but where tot put this is TBD for various points. Closing issue for now.

[2021-11-08 19:59] #34 closed

[2021-11-15 20:10] MaartenvNistelrooij opened #43 "Document CDL/MGA-DSM"
- [x] User guide
- [x] General example
- [x] Optimziation example

[2021-11-15 20:15] MaartenvNistelrooij commented on #43
Repo: tudat-team/tudat-space/feature/mga-dsm-examples

[2021-11-19 09:27] ggarrett13 commented on #27
Apologies for the late reply. I saw the original thread in #25 and saw it closed, did not see this one.

I don't think there is a solution for linking directly to a class' properties. The following approach may be a good alternative:

Where the latter is linked and former is not.

[2021-11-19 09:32] ggarrett13 commented on #27
Actually, I found [this](https://stackoverflow.com/a/59682507). I don't know if it works only within the same project, or if it works for linking to external projects. Give it a go, but I consider this issue closed.

[2021-11-30 09:15] DominicDirkx opened #44 "Make all sub-pages visible in tree"
With the reorganization of the user guide, various pages are no longer shown in the TOC tree on the left of the page, and can only be found by the right path of clicking through pages, making the site more difficult to use. I would propose modifying the TOC tree, so that _all_ existing pages are visible there. Adding an extra level in the TOC may then be useful.

[2021-12-21 23:48] FilippoOggionni commented on #27
The link posted by @ggarrett13 unfortunately does not solve the issue. While the workaround for properties holds, this does not work for modules (neither `:mod:` nor the generic `:obj:` tags work).

[2021-12-22 19:13] FilippoOggionni commented on #21
@jo11he what is the status on this? Are you still gonna do it?

[2021-12-22 20:11] #43 closed

[2021-12-25 12:40] gaffarelj opened #47 "Plotting snippets"
Add documentation on the plotting utilities implemented in tudatpy.
Also add code snippets of useful matplotlib functions (change figure and font size, add a grid, save space, etc).

[2021-12-27 13:07] jo11he commented on #22
@FilippoOggionni I will unassign myself from this, shall I add Jeremie or no need to?

[2021-12-27 13:09] jo11he commented on #21
No, sorry. This could be a task for Jeremie to pick up. I assigned him here and will discuss the scope with him soon. Unless you want to own this project now @FilippoOggionni ?

[2021-12-27 13:16] jo11he opened #48 "User guide: Thesis student / tudatpy from source"
User guide for people who want to use tudatpy from source, extending functionalities through custom python code or exposure of (new/modified/unexposed) c++ source.

One big question @FilippoOggionni, @DominicDirkx: where will we place this page?

[2021-12-27 15:32] FilippoOggionni commented on #48
I think it would fit better into the developer documentation... But we can surely include a note in tudat-space with a link. What do you guys think? 🙂

[2021-12-27 15:54] FilippoOggionni commented on #22
No need to 👍 only the proofreading is needed

[2021-12-27 16:48] FilippoOggionni commented on #44
This was solved by using the regular toctree in sphinx, with the addition of the following options:
- :hidden: (so that the toctree is not actually shown in the page it is placed in)
- :titlesonly: (so that page sections do not show up in the toctree)

It might be that some pages are not shown, but I will take care of the missing ones!

[2021-12-27 16:48] #44 closed

[2021-12-27 17:07] FilippoOggionni commented on #21
No, that's fine, you can leave it to him!

[2021-12-30 11:22] #22 closed

[2021-12-30 16:55] jo11he commented on #48
Yes, you could be right. Considering how much material from the Dev Docs I will have to refer to, it suggests that the hole page belongs there. Will have to talk to @ggarrett13 where he sees fit for it within the Dev Docs structure...

[2021-12-30 18:54] FilippoOggionni opened #51 "Fill in content about the SPICE interface in the user guide"
The page exists but it is essentially empty (see [here](https://github.com/tudat-team/tudat-space/blob/master/docs/source/_src_user_guide/interface.rst)).

The page is currently not included in the TOCtree.

[2021-12-30 20:46] FilippoOggionni commented on #30
Backup file is available [here](https://github.com/tudat-team/tudat-space/blob/8964c10c750bdd7c12e0c012bbda01de4b1c2154/docs/source/_src_user_guide/state_propagation/environment_setup/create_models/info_backup.rst)

[2021-12-30 21:11] FilippoOggionni opened #52 "Go through outdated content"
This concerns the following files, located [here](https://github.com/tudat-team/tudat-space/tree/master/docs/source/outdated):

- [x] `EstimatableParameterSet_Appendix.rst` (not sure where it comes from)
- [x] `developer_guide_tudat.rst` (this can be moved to the tudat-developer docs, together with the `_src_developer` directory)
- [x] `example_application_10.rst` (outdated example, shall we delet

[2021-12-30 21:18] FilippoOggionni opened #53 "Add content to "contribute to tudat-space""
The page (see [here](https://tudat-space.readthedocs.io/en/latest/_src_about/documentation.html)) has already some information on how to pull and reproduce the documentation locally.

What is missing is how a user can contribute. Another possibility is to move it to tudat-developer, but I think contributing to tudat-space is something relatively easy and can (and should) stay on tudat-space. It ca

[2021-12-30 21:19] FilippoOggionni opened #54 "Overview of tudat-space status"
A (naive?) attempt to keep track of all the issues related to new/existing pages on tudat-space.

**Pages to be written**

- [x] aerodynamic coefficients / aerodynamic guidance (#35)
- [ ] some environment models: Gravity Field Variation, Inertia Tensors, Tabulated atmosphere (#30 and #29)
- [x] spice interface (#51)
- [x] thrust guidance (#32)
- [x] frame transformation (#31)
- [x] plotting utili

[2021-12-30 21:19] FilippoOggionni commented on #17
Closing this because all the content has gone into various issues, see #54 for overview.

[2021-12-30 21:19] #17 closed

[2021-12-30 21:24] FilippoOggionni commented on #21
Some ideas that came up during the meeting with @gaffarelj and @jo11he:

**Home page**
- it should be more attractive
- it should give the user with a comprehensive overview of tudat functionalities
- it should provide some use cases
- it should provide an overview of the tudat-space and its organization
- it should provide external links to other tudat resources (developer docs, API reference, et

[2021-12-30 21:31] gaffarelj commented on #21
Another discussion point was to move the entire content of the current about page:
- The first part about the functionalities of Tudat(Py) can be moved to the home pages.
- The second part about the examples of research carried using Tudat(Py) can be moved to a new page in "about" called **Success stories** (or something similar).

Also, we could try to find fancy figures from the reports currentl

[2022-01-10 15:36] DominicDirkx commented on #54
Many thanks for making this overview!

[2022-01-10 15:46] DominicDirkx commented on #52
The first one used to be on the dynamics simulator page (?) It has since been incorporated into other pages. The example application #10 has been rewritten and can be deleted. Indeed, the developer guide page should be merged with existing developer docs. @FilippoOggionni, could you link this to the relevant open issue on developer docs (?) if any?

[2022-01-10 23:19] FilippoOggionni commented on #27
Potentially useful material: see [this](https://github.com/tudat-team/tudat-multidoc/commit/1c010002bb8b679290f3d6c70329a31bf584dbdc#r57711379) comment

[2022-01-10 23:25] FilippoOggionni opened #55 "Go through old website and save/migrate useful pages"
We should make an inventory of all the information from the old website (tudat.tudelft.nl) that is useful. Much of the remaining useful stuff there is already to be incorporated into running issues. Once we have everything transferred (completely, or simply into a 'temporary' page), I think we can remove the old website and put the new one on the old URL.

Note: the old website is C++ only, while

[2022-01-10 23:44] FilippoOggionni commented on #52
Thanks for the info!
I deleted the first and third files, while I moved the second one in the directory with developer content (see 0fa2708fb4bdf158c690043f60389ec86b651170).
I will link that directory to #55.

[2022-01-10 23:44] #52 closed

[2022-01-11 10:49] DominicDirkx commented on #22
I've resolved the review in the pull request, and have pushed a few very minor modifications to the documentation. I'm closing this issue, great to see how this page has shaped up!

[2022-01-14 13:00] gaffarelj commented on #21
From today's meeting, point raised by @jo11he:
- We can take inspiration from [numpy documentation](https://numpy.org/) to get a more visually pleasing landing page.
Point raised by @ggarrett13:
- Material design elements can be available using the [`sphinx-panels` plugin](https://sphinx-panels.readthedocs.io/en/latest/).

[2022-01-14 13:09] gaffarelj commented on #21
Tagging you here @jgte since you seemed interested in this issue.

[2022-01-20 11:10] FilippoOggionni commented on #54
@DominicDirkx can you please add links of the pages on the old website (tudat.tudelft.nl) which should be migrated to tudat-space?

[2022-01-20 12:13] DominicDirkx commented on #54
Pages to consider moving to tudat-space from tudat.tudelft.nl:

- [ ] Discussion of basics of Github http://tudat.tudelft.nl/developerGuide/githubBasics/githubBasics.html. Probably not for tudat-space, but for NA Brightspace page?
- [ ] A list of guides on adding specific features to Tudat http://tudat.tudelft.nl/developerGuide/addingFeatures/index.html This should be transferred, checked, and exp

[2022-01-21 11:41] gaffarelj opened #172 "Add short matplotlib tutorial on tudat-space"
On the [post-processing page of tudat-space](https://tudat-space.readthedocs.io/en/latest/_src_resources/post_processing.html), content could be added about how to make cleaner `matplotlib` plots.

This can include:
- The use of a grid.
- The use of a tight layout.
- The change of the font size.
- The change of line and marker size and style.
- The use of colormaps.
- The use and position of legen

[2022-01-21 11:54] gaffarelj commented on #21
I want to confirm with you @FilippoOggionni that you are taking care of the home page (intro, overview, functionalities [including nice figures and use cases], and main links)?

I will then take care of the about page, and the new case studies page (also under about). This is less critical than the landing page, and lower on my task list.

[2022-01-21 13:44] FilippoOggionni commented on #21
@gaffarelj first I will include some interactive panels in the landing page with all the difference resources and reorganize existing. About the other items (intro, overview, functionalities [including nice figures and use cases]), this is lower priority and I will use the team's input to add features.

I will leave the "about" page to you, but we can use the same methodology (i.e., asking for inp

[2022-01-21 13:44] #21 closed

[2022-01-21 13:45] FilippoOggionni opened #56 "Revise landing page"
[continuing from #21]

First, I will include some interactive panels in the landing page with all the difference resources and reorganize existing. About the other items (intro, overview, functionalities [including nice figures and use cases]), this is lower priority and I will use the team's input to add features.

[2022-01-21 13:47] FilippoOggionni opened #57 "Revise "about" page"
This page will include:

- [ ] case studies
- [ ] history of the project (@DominicDirkx I think you are the right person to write this part)
- [ ] a roadmap
- [ ] others?

Please feel free to comment below what would be needed (@DominicDirkx @jo11he @gaffarelj).

[2022-01-21 20:43] FilippoOggionni commented on #56
@DominicDirkx @jo11he @gaffarelj I have changed the landing page as we discussed, including links to external resources in the form of panels. Of course it could be improved and made more attractive than this, but first I wanted to check if you had specific ideas for the first three points below.

From #21:

- [ ] it should be more attractive
- [ ] it should give the user with a comprehensive over

[2022-01-22 10:38] gaffarelj commented on #56
I agree with your proposal. I think we could get a few illustrations from published research when we want to illustrate some important points on the main about page, and then put more examples with more fancy illustrations in the "Case studies".

[2022-01-22 13:06] FilippoOggionni commented on #56
I agree with you @gaffarelj that figures should be included only for the case studies and not for the current "array" of capabilities.

For now I have something like this, see attachment. I am not sure if the description of tudat-space as a "community" already applies... We could also switch the order between paragraphs, if needed. What do you think?

<img width="1104" alt="Screen Shot 2022-01-22

[2022-01-22 14:19] FilippoOggionni commented on #56
Regarding the capabilities / scenarios that Tudat can simulate, I will make a draft of the list below, please feel free to add to this @DominicDirkx. It is a high-level list of categories, so it will not be exhaustive:

- Artificial satellite orbits (translational and rotational motion)
- Dynamics of celestial bodies in multi-body systems
- Interplanetary trajectories with high and low thrust
- Re

[2022-01-22 14:46] gaffarelj commented on #56
The design is definitely more inviting than the current one. Great job!

Two small remarks:
- Could you change the italic text in the first image (Getting started, User guide...) to links.
- I would use a sub-title for the useful links/resources instead of the blue note. That separates things more clearly in my opinion. But I would still keep the message of the note (as normal text) between the su

[2022-01-22 16:35] FilippoOggionni commented on #56
Thanks for the quick feedback!

Unfortunately I cannot do this, as those sections are not actual pages in the tudat-space, but only sections of the index/TOC.

# Sure!

Regarding the rest, I agree, but I will wait to have Dominic's view on this before making further changes.

Last point: do you agree that having the section with API and developer docs before the current showcase of functionalities

[2022-01-22 17:36] jo11he commented on #56
Hell yeah this is great!

[2022-01-22 18:04] FilippoOggionni commented on #56
I pushed the current changes in 4ba3d8fc4a756feef9cb5e0603ac7315832f23e5. I will wait for feedback before proceeding further.

We can also add some colors to make it a bit less homogeneous (see the sphinx-panels' [guide](https://sphinx-panels.readthedocs.io/en/latest/#installation)). Since the landing page is very important, I am dedicating extra attention to aesthetics as well 😃

[2022-01-23 12:10] FilippoOggionni opened #58 "Set maximum width to website"
This was originally proposed by @ggarrett13 some time ago. It is a good idea to avoid that the content gets stretched over width on very wide screens.

I tried with some solutions from this [post](https://stackoverflow.com/questions/23211695/modifying-content-width-of-the-sphinx-theme-read-the-docs), but it was not successfully (in particular, setting `html_theme_options = {'body_max_width': '70%'

[2022-01-24 08:11] DominicDirkx commented on #56
What he said :)

[2022-01-24 08:52] FilippoOggionni commented on #56
Happy to hear! The changes are already online, if you want me to make further modifications please let me know.

@DominicDirkx when you have time, could you give us your opinion about the following points?

[2022-01-24 09:11] DominicDirkx commented on #56
I think this is a good distinction to make. The Numpy landing page looks very slick, and 'borrowing' elements of their design sounds good. Making case studies a mix of past and future potential work is a good idea.

[2022-01-24 09:17] DominicDirkx commented on #56
I'll move this discussion to Slack

[2022-01-24 12:46] FilippoOggionni commented on #58
Fixed by 8e226b644148d324123332f2e9b0417e5b739630.

Turns out another solution from the same post linked above worked. Thanks to @ggarrett13 for the suggestion!

[2022-01-24 12:46] #58 closed

[2022-01-24 13:13] FilippoOggionni commented on #58
This is now online. @gaffarelj @DominicDirkx please let me know if you think we should make it wider than the current version (currently set to 1000px [here](https://github.com/tudat-team/tudat-space/blob/78c4ef1f3d3c29e7966b9342bcc495821dc7ca81/docs/source/_static/custom.css#L2)).

[2022-01-24 13:18] gaffarelj commented on #58
Seems perfect to me!
The old tudat.tudelft.nl is restricted to 800px, which feels a little to cramped. I think 1000px hits the mark just right.

[2022-01-24 13:20] gaffarelj commented on #56
I think you can setup a link so that the browser downloads the target instead of loading it in a tab. I can take a look at it this afternoon if you think it would make sense (and I would include the guide directly on the website then).

[2022-01-24 13:28] FilippoOggionni commented on #56
Great idea! I did not think about it, thanks for the suggestion.

As a quick fix (but I think we should not spend more time on it), I uploaded the manual in the tudat-space repository via 1de7bda294ed9193182625a936dea4f3bbc69cde (i.e., it is hosted on Github) and I have set up the button so that pressing it will trigger the download (via 169f9af2b730b72edc9e3d665bb13db4fdd3daa6).

[2022-02-06 12:31] gaffarelj opened #59 "Clarify what is in the propagated state"
When multiple bodies have their state and mass propagated (multi-type + multi-body propagation), the propagated state is of the following form:
`[state1 state2 state3 mass1 mass2 mass3]`

The fact that the masses of all the bodies are grouped at the end of the state may be counter-intuitive and should be more explicitly noted at multiple places in the documentation. A good start would be at these

[2022-02-07 08:29] DominicDirkx commented on #59
Good point. In addition to the above, I think it would be good to add a function that prints the order of the state variables, similar to what is done for the dependent variables

[2022-02-08 20:00] gaffarelj commented on #47
The API doc of the plotting utilities has since then been corrected and can be seen [here](https://tudatpy.readthedocs.io/en/latest/plotting.html).

The useful code snippets and `matplotlib` functions will later be implemented as part of [tudatpy issue 41](https://github.com/tudat-team/tudatpy/issues/41).

[2022-02-08 20:00] #47 closed

[2022-02-09 09:29] geoffreygarrett commented on #56
I believe this is an appropriate place to couple the [`tudat-team/.github/profile/README.md`](https://github.com/tudat-team/.github/tree/main/profile) item for review.

@FilippoOggionni & @DominicDirkx

[2022-02-09 13:56] gaffarelj opened #60 "Update how to access body properties from environment"
On [this page](https://tudat-space.readthedocs.io/en/latest/_src_user_guide/state_propagation/environment_setup/environment_during_propagation.html), the old ways to access the properties of a body (`get_position()`, `get_velocity()`, `get_body_mass()`, should all be updated to reflect the new ways as from the [API docs](https://tudatpy.readthedocs.io/en/latest/environment.html?highlight=get_posit

[2022-02-13 11:46] gaffarelj commented on #32
This guide is now underways (my top priority now that students start working with thrust as part of P&O).
The first version of the orientation and magnitude guide is done.

I am currently pushing this to the [feature/thrust-guide](https://github.com/tudat-team/tudat-space/tree/feature/thrust-guide) branch.

Here is what is next for this guide:
- [ ] How to associate mass rate with thrust.
- [ ] Ex

[2022-02-14 08:28] DominicDirkx commented on #32
Great to see this taking shape :) What should also be addressed, and possibly refactored in the code, is how to define the body-fixed thrust direction. At the moment this is usually in a constant default direction, but this can be modified (although not in a particularly obvious or logical way....). When combining thrust and aerodynamics, and also for influence of thrust on rotation, this becomes

[2022-02-14 14:09] gaffarelj commented on #32
Perfect. I planned on discussing how the `body_fixed_thrust_direction` argument can be used to define an angle of the thrust w.r.t. the vehicle orientation.

When you say that this is, for now, a constant direction, but could be modified, do you suggest for instance to extend this feature to accept a function that would return the direction (as a function of time)? This would indeed be quite inter

[2022-02-18 10:26] gaffarelj commented on #32
@DominicDirkx I created a pull request ([here](https://github.com/tudat-team/tudat-space/pull/61)) to incorporate what I already made for the thrust guide to tudat-space, which I think can be of use to P&O students dealing with the Lunar Ascent problem.

I think that the remaining part of this guide is less time-critical, and I will then add it later on.

@FilippoOggionni I also added you as a rev

[2022-02-18 12:59] FilippoOggionni commented on #56
@geoffreygarrett good point. I moved your comment to a new issue (tudat-team/project-management#27), so I will close this as it is done.

[2022-02-18 12:59] #56 closed

[2022-02-18 13:03] FilippoOggionni commented on #53
This was fixed by 836e3b8dafa47af34c4b7d2dcc68d6f8aff8d7b8.

[2022-02-18 13:03] #53 closed

[2022-02-18 13:08] FilippoOggionni opened #62 "Revise "about" page"
This is a follow-up from #21 and it concerns this [page](https://tudat-space.readthedocs.io/en/latest/_src_about/about.html).

The page should be split in 4 different subpages (in parenthesis, you see who I think are the most suitable people to draft these pages - what I need is content, even in the form of word documents, while I can fix the style itself if needed):

- [x] history of the project

[2022-02-18 20:58] #32 closed

[2022-02-19 12:22] gaffarelj commented on #59
I have created a `feature/print-state-data` branch in both tudat and tudatpy to add a print of that is in the propagated state.

In my test where I propagated the translational and mass state of two lunar CubeSats, this print is for instance as follows:
[code]

@DominicDirkx I suggested you as the reviewer of the two pull requests that I just made to add this feature to `develop`.
[Here](https://g

[2022-02-19 12:27] gaffarelj commented on #59
This argument also has to be added to the docstrings. I will do so in time, but that will require a new tudat conda package to be build, if we want the API docs to build correctly.

[2022-02-19 14:29] FilippoOggionni commented on #62
I think it is a good idea. I think it is a good idea to include pictures and roles for the currently active team only (or at least the activity area coordinators), while for past contributors name and link to Github account should be enough

[2022-02-22 17:40] gaffarelj commented on #59
This functionality is now fully integrated into the latest conda packages, and is documented in the API docs.

I leave this issue open since additions to tudat-space still have to be made (see bullet list of this issue).

[2022-03-20 11:39] FilippoOggionni commented on #57
Duplicate of #62.

[2022-03-20 11:39] #57 closed

[2022-03-21 10:21] FilippoOggionni opened #64 "Convert mathematical model definition manual from latex to html pages"
## Conversion of mathematical model definition document to online environment

I made some research into this, here are my findings:

- It is not possible to include directly latex source code into rst files (it is possible, but only in math mode), so that is off the table
- I tried converting .tex files into .rst files through [pandoc](https://pandoc.org/). The output is generally quite decent (s

[2022-03-26 18:30] gaffarelj commented on #59
I've added information on what is in the propagated state for 4 of the listed points (with a07c9d03bcb9f6349b166b8fb6f7372e092be1f6 for tudat-space, and [3168a57](https://github.com/tudat-team/tudat-multidoc/commit/3168a573253951002c735ba10ca12b1f2f2a9b46) for tudat-multidoc).

@FilippoOggionni in the end I don't think that adding this information on the two pages related to the mass (remaining tw

[2022-04-05 09:52] Marchesini010126 opened #65 "DCM matrix builter"
Hi

I have written two simple functions that could be useful in the future if you want to add them. I hope they can be of any help and let me know if you want me to modify them

[code]

[2022-04-05 12:07] DominicDirkx commented on #65
Hi Greg, this looks useful :) Thanks!

@Marchesini010126 If we were to add this now, we would copy paste this into he code and push it. If you formulate it as a pull request, your name would also show up in the tudat git commit history. In case you would want that, for us it makes little difference (I think)

@gaffarelj Could you add these to a future tudatpy update?

[2022-04-05 12:21] gaffarelj commented on #65
Hi all :)

I can take care of adding these functions to tudatpy, yes. Looking through them, I will then put them inside the tudatpy.util module.

@Marchesini010126 tell me if you want to take care of it trough a push request, otherwise I will make it myself, and mention your username in the commit message.

[2022-04-05 19:12] FilippoOggionni commented on #27
[Resource](https://www.sphinx-doc.org/en/master/usage/restructuredtext/domains.html#cross-referencing-python-objects)

[2022-04-08 14:43] gaffarelj commented on #65
Hi @Marchesini010126!

Small update: I think that there is an incorrect assumption with your `split_history` function. It looks like you assume your state to be _[translational body A, mass body A, translational body B, mass body B]_, where it is in fact _[translational body A, translational body B, mass body A, mass body B]_ (as an example).
So your function, as it is, would work fine if you prop

[2022-04-08 14:46] Marchesini010126 commented on #65
Hey

Yes you are right
I mainly work with translational dynamics and this is the reason why I had made this assumption.

Really grateful I watched this issue and let me know if you need anything!
Great catch

Have a nice day
Gregorio Marchesini

Personal Email
***@***.***

Academic Email
***@***.***

[2022-04-08 21:19] gaffarelj commented on #65
I implemented both of these functions and made [this pull request](https://github.com/tudat-team/tudatpy/pull/66) accordingly. @DominicDirkx can you review it?

Thanks again for these additions @Marchesini010126 :)

[2022-04-11 15:53] gaffarelj commented on #65
These new features have been merged with `tudatpy/develop` with commit [c56ab7f](https://github.com/tudat-team/tudatpy/commit/c56ab7fdaf4ff6fa3ce82004abe67e9c4b0fb3d3).
They will be included in the next conda release of tudatpy, and in the online documentation as soon as possible (there is a little fix needed for the docs to be updatable again).

[2022-04-11 15:53] #65 closed

[2022-04-15 07:45] Marchesini010126 opened #66 "Ground track using cartopy"
Hi
I have developed a small piece of code that can visualize ground tracks using cartopy
The available list of map is listed in the documentation of the function.

I tried it and it works for me. You have to install cartopy from conda, but nothing else is required (apart from numpy, but this is pretty normal to have).

If you think it is useful, let me know.
I hope it will help

Have a super day!

[2022-04-19 06:25] DominicDirkx commented on #66
Hi Greg, we had a long weekend holiday here, hence the late reply. This looks like a nice piece of functionality again :) One question on the 'settings' input. Wouldn't it be easier to have each of the settings entries be an explicit input (with default) for the function itself? That way:

* Autocomplete will show which options there are
* Autocomplete will show the default values
* Documenting th

[2022-04-19 06:30] Marchesini010126 commented on #66
Absolutely

I will correct it soon!
It is indeed a good suggestion

Super
I will repost here the updated version

[2022-04-26 23:41] Marchesini010126 commented on #66
Hi again

I have corrected the function and I believe now it could be more useful.
I inserted the parameters as you asked in the function signature

I have also created a minimal working example so that you can test if everything is working as you wish

[code]
In addition to Tudat, the packages `scipy` and `cartopy` are required.
But nothing more special than this

I hope the function will be usef

[2022-05-07 17:12] MiguelAvillez opened #68 "Update user guide for multiple gravity assist trajectory design with low-thrust + create new examples"
The code for trajectory design using multiple gravity assists was refactored to allow the inclusion of low-thrust legs (relevant pull requests: [https://github.com/tudat-team/tudat/pull/93](url) and [https://github.com/tudat-team/tudatpy/pull/69](url)).

The user guide for the transfer trajectory design module should be updated to reflect the new leg types (hodographic shaping and spherical shapin

[2022-05-23 09:05] gaffarelj commented on #65
Just to confirm, the new API docs (that are now building again) contain the two new features mentioned in this issue:

- [util.split_history](https://py.api.tudat.space/en/latest/util.html#tudatpy.util.split_history)
- [util.vector2matrix](https://py.api.tudat.space/en/latest/util.html#tudatpy.util.vector2matrix)

[2022-05-30 20:41] transferorbit opened #69 "Documentation build error: Extension error - No module named 'sphinxcontrib.contentui'"
The documentation is not building for me on my machine anymore.
When executing the command: `sphinx-build -b html docs/source docs/build`, I get the following error:

[code]

I believe I am on the latest build; my last git log entry is:
[code]

Lists of the packages in my conda environments for [tudat-docs](https://github.com/tudat-team/tudat-space/files/8800647/tudat_docs_env_packaage_list.txt) a

[2022-05-31 08:37] DominicDirkx commented on #69
Looks like a missing package, try:

pip install sphinxcontrib-contentui

Perhaps this is a new dependency, @gaffarelj  or @FilippoOggionni , do you have an idea?

[2022-05-31 09:34] gaffarelj commented on #69
The issue is probably that the environment that is being updated is the one in [docs/environment.yaml](https://github.com/tudat-team/tudat-space/blob/master/docs/environment.yaml), while the one that most use is probably the one in root [environment.yaml](https://github.com/tudat-team/tudat-space/blob/master/environment.yaml). @FilippoOggionni @geoffreygarrett is there any reason for this duplicat

[2022-05-31 16:10] transferorbit commented on #69
I can confirm that the original yaml file I used (env yaml downloaded and installed fresh on 16 May 2022) is identical to the ‘root’ environment.yaml file @gaffarelj links to above (and thus not the above linked docs one). My file, and the ‘root’ one above, is _also_ identical to the yaml file on our current [sphinx developer documentation guide](https://tudat-developer.readthedocs.io/en/latest/pr

[2022-05-31 19:08] transferorbit commented on #69
I can now confirm that using the ‘root’ [environment](https://github.com/tudat-team/tudat-space/blob/master/environment.yaml) file works if I also add the (now, apparently) missing package using `conda install sphinxcontrib-contentui`. NB: no `pip` required.
In other words, the `sphinx-build ...` succeeds locally (with ≈220 warnings).

The question thus now remains:
- What is the status of this [d

[2022-06-16 12:48] DominicDirkx commented on #35
This is now in this pull request: https://github.com/tudat-team/tudat-space/pull/71

[2022-06-16 12:49] #59 closed

[2022-06-16 12:52] DominicDirkx commented on #69
As a summary, if we add sphinxcontrib-contentui to the yaml file, and remove one of them, this is resolved?

[2022-07-03 14:43] gaffarelj opened #73 "Add discussion on multi-threading in "Optimisation with Pygmo""
In the [Optimization with PyGMO](https://docs.tudat.space/en/latest/_src_resources/pygmo_basics.html) section of the docs, I think it would help to add a small discussion about how to properly multi-thread with Python and Pygmo.

I find multi-threading really useful when dealing with astrodynamics optimisation problems since multiple tudat propagations can then be run in batch, allowing for batch

[2022-07-05 20:24] gaffarelj commented on #60
I am closing this since this content is being replaced in the (now much more extensive) docs about environment from #71

[2022-07-05 20:24] #60 closed

[2022-08-09 20:20] gaffarelj commented on #73
Just to add to this: parallelizing simulation outside of the Pygmo framework is quite straightforward.
I pieced together the essentials here below (wich works with tudatPy and SPICE):

[code]

[2022-10-11 06:08] transferorbit opened #77 "Missing text for example applications"
In the documentation [on this docs.tudat.space page](https://docs.tudat.space/en/stable/_src_getting_started/examples.html), the example applications are devoid of any text; they’re currently showing only small images of plots (see image below).
Some minimum level of text should be shown, such as a title and perhaps keywords.
<img width="1067" alt="Screenshot 2022-10-11 at 08 03 20" src="https://u

[2022-10-11 06:37] DominicDirkx commented on #77
Thanks! This used to look different in the older version, I'll try to find out what we messed up

[2022-10-13 16:43] MiguelAvillez commented on #68
Tasks:
- [ ] Rewrite user guide
- [ ] High thrust example
- [ ] Low thrust example
- [ ] Hybrid thrust example
- [ ] Optimization example

Branches:
https://github.com/MiguelAvillez/tudat-space/tree/feature/mga_docs_ht_lt

[2022-10-20 21:05] MiguelAvillez commented on #68
@DominicDirkx, the updated user guide for the MGA is available at https://github.com/MiguelAvillez/tudat-space/blob/feature/mga_docs_ht_lt/docs/source/_src_user_guide/astrodynamics/trajectory_design.rst
Feel free to have a look :)

[2022-10-31 09:48] Nosudrum opened #78 "Tudat versions table"
It would be nice to have some sort of table with the different tudat versions (maybe the changelog)

[2022-11-10 15:51] sbcowan opened #80 "Refactoring of file tree to resemble tudat-space toc"
Some work ought to be done on refactoring the names of directories and files such that they resemble the structure that is currently on the tudat-space website.

- Some file names do not correspond to the header in the file
- Some directories exist in the tree of the documentation source, but are not used on the tudat-space site.

These things makes navigating through the documentation more tediou